*:before,
*:after {
  box-sizing: border-box;
}
.l-arrow-circ,
.r-arrow-circ {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 3px solid #333;
}
.l-arrow:before,
.l-arrow-circ:before {
  content:"";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 35%;
  height: 35%;
  border-left: 4px solid #333;
  border-bottom: 4px solid #333;
  -webkit-transform: translate(-30% -50%) rotate(45deg);
  transform: translate(-30%, -50%) rotate(45deg);
}
.r-arrow:before,
.r-arrow-circ:before {
  content:"";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 35%;
  height: 35%;
  border-right: 4px solid #333;
  border-bottom: 4px solid #333;
  -webkit-transform: translate(-70% -50%) rotate(-45deg);
  transform: translate(-70%, -50%) rotate(-45deg);
}

.buttons {
 
  text-align: center;

}