.momDivSSS {
  padding: 17% 10% 0 10% ;
}

#sssSayfaHeader{
  color: #ff6341;
  font-size:40px;

}

#sssHeader {
  color: #ff6341;
  font-size:30px;
}

.sorular {
  color: #152039;
  font-size:20px;
}

.cevaplar {
  color: #152039;
  font-size:20px;
  text-align: justify;
}

.main {
  display: flex;
  width: 100%;
  padding-top: 10px;
  justify-content: center;
  background-color: rgba(169, 219, 207, 255);

}
.faq {
  max-width: 400px;
}

.sorular:hover {
  color: #ff6341;
}

.bolum{
  padding-top:5%;
}
