 /*.header {

  text-align: center;
  padding: 10px;
 }
  
  .headerTitles {
    align-items: center;
    font-family: "Lora", serif;
    color: #444;
    padding: 30px;
  }
  

  
  .headerTitleLg {
   
    padding-top: 50px;
    font-size: 40px;
  }
  */
