@import url("http://fonts.cdnfonts.com/css/sofia-pro");
@import url("http://fonts.cdnfonts.com/css/montserrat");

/* .containerHome {
  display: auto;
  background: url("home_back.jpg");
  background-position: right 0% bottom 60%;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 35%;
  padding-bottom: 10%;
  height: 200px;
  background-color: rgba(169, 219, 207, 255);
} */
/*Buton section*/
/* .button1 {
  padding-left: 50%;
  padding-top: 30px;
  width: 300px;
  height: 70px;
}
#buton {
  color: rgba(239, 47, 61, 255);
  width: 300px;
  height: 70px;
} */

/* html {
  font-size: 20px;
  box-sizing: border-box;
} */

body {
  /* background: url("home_back.jpg"); */
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: rgba(169, 219, 207, 255);
  /* height: 120px; */
}
.bodyy {
  background: transparent;
}

.button1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
}
.ust {
  padding-top: 0px;
}
.alt {
}

.rolling_tiles {
  border: 5px #4b0082 solid;
  color: current;
  display: block;
  font-family: "trebuchet ms";
  font-size: 2rem;
  letter-spacing: 0.1rem;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.rolling_tiles::before {
  content: "";
  background-color: #e95d00;
  box-shadow: -10px 10px rgb(231, 150, 74), -20px 20px 0 rgb(230, 210, 30);
  position: absolute;
  top: 0;
  left: 0;
  height: 4.25rem;
  width: 102%;
  transform: translate(-15px, 10px);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  will-change: transform, box-shadow;
  z-index: -1;
}

.rolling_tiles:hover::before {
  box-shadow: none;
  transform: translate(0, 0);
}
