.coverEgitimContentM{
    text-align: left;
    background-color: #f1f2f2;
    border-radius: 20%;
    padding: 10%;
    color: #152039;
    font-size: 20px;
    margin-left:5%;
    margin-right:5%;
    margin-top:10%;
}

.sopEgitimContentM {
    font-size: 20px;
    text-align: left;
    background-color: #f1f2f2;
    border-radius: 20%;
    padding: 10%;
    color: #152039;
    font-size: 20px;
    margin-right:5%;
    margin-left:5%;
}

.coverEgitimContentM:hover,   .sopEgitimContentM:hover{
  transition: all 0.4s ease-in-out;
  box-shadow: #4abeca 6px 2px 16px 0px, #152039 -6px -2px 16px 0px;
  cursor: pointer;
  background-size: 300% 100%;
}

.egitim1M{
    margin-right:5%;
    margin-left:5%;
}

.egitim2M{
    margin-right:5%;
    margin-left:5%;
}

.madde{
  margin-left: 5%;
  padding-bottom:2px;
}

.momDivEgitimM{
padding-top:15%;
margin-bottom:5%;
} 

.row{
  width: auto;
}

.priseEgitim{
  margin-left:70%;
  margin-bottom:0%;
  width: 30%;
    height: auto;
  background-color:#4abeca;
  font-size:25px;
  color:#f1f2f2;
  text-align: center;
  padding-top:10%;
  padding-bottom:10%;
  border-radius: 100%;
  font-size:40px;

}

.coverHeader, .sopHeader{
  text-align: center;
  align-content: center;
  color: #4abeca;
  padding-bottom: 5%;
  font-size: 30px;
}

#butonBizeUlasM {

  background-color: #ff6341;
  color: #f1f2f2;
  border: none;
  outline: none;
  border-radius: 50px;
  padding: 10px 10px;
  width: 100%;
  font-size:20px;
  margin-top:5%;
}

#butonBizeUlasM:hover {
  color: #f1f2f2;
  cursor: pointer;
  text-align: center;
  background-size: 300% 100%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(to right, #f5ce62 #fa7199, #e85a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

#butonBizeUlasM:hover:focus {
  outline: none;
}