.motivContentMobile{
    margin-top:10%;
}
.valContentMobile{
    margin-top:10%;
}

.motivasyonHeaderMobile, .valueHeaderMobile {
    text-align: center;
    align-content: center;
    color: #ff6341;
    font-size: 40px;
    padding-left:7%;
    padding-bottom:5%;
  }
  .motivFullContent, .valFullContent {
    font-size: 20px;
    background-color:  #152039;
    border-radius: 20%;
    padding: 10%;
    color: #f1f2f2;
    margin-left: 5%;

  }
  
  .motivAnimationMobile, .valAnimationMobile {
    text-align: center;
    align-items: center;
  }

  .momDivMobile{
    margin-bottom:10%;
  }
  