#degerHeader{
  text-align: center;
  align-content: center;
  color: #4abeca;
  font-size: 40px;
  padding-top: 30%;
}

#motivasyonHeader {
  text-align: center;
  align-content: center;
  color: #4abeca;
  font-size: 40px;
}

.float-child-element{
 
}
.content {
  margin-right: 10%;
  float:left;
  text-align:left;
}

.content2 {
  float:right;
  font-size: 20px;
  text-align:left;
}

.degerAnimation{
  padding-top:30%;
  float:right;
}

#motivContent{
  background-color: #152039;
  border-radius: 20%;
  padding: 10%;
  color: #f1f2f2;
  font-size:20px;
}

#degerContent {
  background-color: #152039;
  border-radius: 20%;
  padding: 10%;
  color: #f1f2f2;
  font-size:20px;
}

.madde{
  margin-left: 5%;
  padding-bottom:2px;
}
.resOlarak{
  font-size:20px;
}
.tik{
  color:#4abeca;
}

.motivAnimation{
  float:left;
  padding-left:5%;
  padding-top:5%;
}

.momDiv{
padding-top:5%;
margin-bottom:15%;
}

.row{
  width: auto;
}