#hakkimizdaHeader {
  text-align: center;
  align-content: center;
  color: #4abeca;
  font-size: 40px;
  padding-left:5%;
}

.float-parent-element {
  width: auto;
  padding-top: 20%;
  padding-bottom: 65%;
  margin-left: 5%;
}
.float-child-element {
  float: left;
  width: 50%;
  text-align: justify;
  height: 400px;
}
.content {
  font-size: medium;
}

.aboutContent {
  font-size: 20px;
}
.image {
  margin-left: 20%;
}

img {
  width: 80%;
}

.fullContent {
  background-color: #f1f2f2;
  border-radius: 20%;
  padding: 10%;
  color: #152039;
  margin-left: 5%;
}

.animation {
  margin-left: 5%;
  margin-top: 5%;
}