@import url("http://fonts.cdnfonts.com/css/sofia-pro");
@import url("http://fonts.cdnfonts.com/css/montserrat");

#footer {
  background: #152039;
  padding: 20px 0;
  margin-top: 10px;
  position: static;
  bottom: 0;
  width: 100%;
}

#social {
  text-align: center;
  padding: 10px 0;
}

.copyright {
  text-align: center;
  color: #fff;
}
.links {
  text-align: center;
  color: rgb(243, 100, 17);
}

#social li {
  display: inline-block;
  margin-right: 10px;
}

.fa-instagram {
  color: #ad13b3;
}

.fa-linkedin {
  color: #0077b5;
}
