/* .container_ {
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}

.panel {
  background-color: rgb(228, 8, 8);
  border-radius: 4px;
  padding: 1rem 2rem 2rem;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 7px 17px 0 rgba(0, 0, 0, 0.1);
}

.tos {
  max-height: 70vh;
  overflow: auto;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.p_ {
  margin: 0;
  margin-bottom: 1rem;
  color: #5b5e6d;
  max-width: 55em;
} */
