/*Tasarım ekibinin  verdiği fontlar : 
  * font-family: 'Montserrat', sans-serif;
  * font-family: "Sofia Pro", sans-serif;
  */
@import url("http://fonts.cdnfonts.com/css/sofia-pro");
@import url("http://fonts.cdnfonts.com/css/montserrat");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
body {
  background-color: rgb(255, 255, 255);
  margin: auto;
  padding: 0px;
  overflow-x: hidden;
  background-repeat: repeat;
  font-family: "Sofia Pro", sans-serif;
  display: grid;
}
/* *{
  box-sizing:border-box;
  margin:0;
  padding:0;

} */
.container {
  width: 100%;
  /* position: fixed; navbarın aşağılara gelmesi sağlanıyor */
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #152039;
}
#logoRS {
  max-width: 100%;
  height: 100px;
}

.navBar .logo img {
  float: left;
  max-height: 140px;
}
/*.is-active {
  color: #ff5800 !important;
}*/
.navBar .col-md-3 {
  z-index: 7;
}
/*Menü yazılarının olduğu container*/
ul.main-menu {
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 0px;
  float: center;
  z-index: 7;
  background-color: #152039;
}
ul.main-menu > li.menu-item:first-child {
  padding-left: 0;
  margin-left: 0;
}
li {
  list-style-type: none;
}
/*navbar ana menü kelimeleri*/
.menu-item a {
  font-size: 19px;
  font-weight: 600;
  line-height: 40px;
  position: relative;
  display: block;
  color: rgb(255, 255, 255);
  margin: 27px 20px;
  text-decoration: none;
  cursor: pointer;
}
/*logonun div'i*/
.header__middle__logo {
  width: 25%;
  background-color: #152039;
  display: inline-block;
  /* float: left;*/
}
/*navbarın solundaki boşluk */
.header__middle__menus {
  width: 75%;
  display: inline-block;
  /*background-color: #ff3d00;*/
  /*float: left;*/
}
.header__middle {
  display: flex;
  width: 100%;
  float: left;
  border-bottom: 1px dashed lavender;
  position: relative;
}
.sub__menus__arrows {
  position: relative;
}
.sub__menus__arrows svg,
.sub__menus__arrows__full svg {
  padding-top: 0px;
  position: absolute;
  top: 13px;
}

/* // büyük ekrandaki açılır menüler */
.sub__menus {
  position: absolute;
  display: none;
  background: #152039;
  opacity: 1;
  width: 350px;
  left: -17px;
  padding: 2px 0 0 0;
  z-index: 1000;
  box-shadow: 0 10px 12px rgb(22 33 39 / 25%);
}

@media (max-width: 767px) {
  .header__middle .active {
    color: #ff3d00 !important;
  }
}

@media (min-width: 992px) {
  .sub__menus__arrows:hover .sub__menus {
    display: block;
  }
  .sub__menus__arrows__full:hover .sub__menus {
    display: block;
    z-index: 1000000;
  }
}
.menu-item .sub__menus a {
  padding: 7px 0 0px 0;
  margin: 7px 27px;
}
/*hover renkleri*/
.menu-item:hover > a {
  color: #ff6341 !important;
}
.menu-item .sub__menus li:hover a {
  color: #ff6341 !important;
}
/*logo marginleri */
.header__middle__logo img {
  max-width: 207px;
  margin: 30px 0 0 65px;
}

@media (max-width: 991px) {
  .header__middle__logo {
    width: 77%;
  }
  .header__middle__menus {
    width: 20%;
  }
  .header__middle__logo img {
    max-width: 197px;
    margin: 27px 0 0 0;
  }
  .main-nav .menubar__button:hover {
    background-color: #f44336;
  }
  .main-nav .menu-item:hover > a {
    color: #ff6341 !important;
  }

  /* navBar mobilde açma kapama tuşu --------------------------*/
  .main-nav .menubar__button {
    display: block !important;
    float: right;
    background-color: #152039;
    color: #fff;
    padding: 6px 7px;
    border-radius: 5px;
    margin: 20px auto 0;
    cursor: pointer;
    position: relative;
    z-index: 10037;
  }
  .main-nav .menubar__button svg {
    font-size: 27px;
  }
  /*genel mobil menü containerı*/
  .main-nav ul.menuq2 {
    display: block !important;
    position: absolute;
    left: 0;
    z-index: 10007;
    background-color: #152039;
    box-shadow: 0 10px 12px rgba(58, 52, 48, 0.25);
    right: 0;
    padding-bottom: 25px;
    padding-top: 57px;
  }
  .main-nav .menu-item a {
    margin: 22px 17px;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  .main-nav ul.main-menu {
    display: none;
  }
  .main-nav .sub__menus__arrows:hover .sub__menus {
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .sub__menus__Active {
    display: block !important;
    box-shadow: 0 10px 12px rgba(243, 213, 199, 0.25);
    margin: 0 auto;
    width: 350px;
    left: 0;
    right: 0;
  }
  .sub__menus__Active2 {
    display: block !important;
  }
  .menus__categorysss {
    display: none;
  }
  xs .menus__categorysss2 {
    display: none;
  }
  .menu-item .sub__menus__full a {
    text-align: left;
  }
}

/*radiusunu değiştrebiliriz veya div içine koyup da yapılabilir*/
#neon {
  background: rgb(236, 94, 27);
  border-radius: 160px;
  color: #000;
  box-shadow: 0 0 70px rgb(226, 90, 36), 0 0 70px rgb(218, 120, 29);
}
