.momDivContectMobile{
    padding-top:20%;
    padding-bottom:5%;
    background-color: rgba(169, 219, 207, 255);
  }
  
  #iletisimHeaderM {
    color: #ff6341;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    padding-top:3%;
  
  }

  #iletisimFormHeaderM {
    color: #ff6341;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size:30px;
    padding-top:2%;
  }

#boxMobile {

    align-items: center;
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: #f1f2f2;
    color: #152039;
    border-radius: 10%;
    height: 30rem;
    position: relative;
    padding:5% 0 0 0;
    margin-left:20%;
    margin-right:20%;

  }
  #aciklama {
    background-color: #f1f2f2;
    color: #152039;
    padding: 5%;
    border-radius: 10%;
    font-size: 20px;
    margin-left:5%;
    margin-right:5%;
    text-align: justify;
  
  }
  
  .info,
  #kvkk {
    color: #152039;
    padding-top: 15%;
  }
  .input {
    width: 50%;
    padding-top: 10%;
    height: 5%;
  }
  #buton {
    /* width: 100px;
    padding: 2%;
    padding-left:5%;
    padding-right:5%;
    color: #f1f2f2;
    background-color: #ff6341;
    border: none;
    border-radius: 50px;
    align-items: center; */
    background-color: #ff6341;
    color: #f1f2f2;
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 10px 10px;
    font-size: 1.5em;
    font-weight: 500;
    width: 120px;
  }
  
  #buton:hover {
    color: #f1f2f2;
    cursor: pointer;
    text-align: center;
    background-size: 300% 100%;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background-image: linear-gradient(to right, #f5ce62 #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
  }
  
  #buton:hover:focus {
    outline: none;
  }
  #resumeMail {
    color: #e85a19;
  }
  .animationIletisimMobile {
   text-align: center;
   align-items: center;
    padding-top: 5%;
  
  }
  .instagramIletisimDiv{
    padding-top:5%;
  }
  
  .instaBut{
    padding-left:1%;
    color:#152039;
  }
  
  .instaBut:hover {
    color:#ff6341;
  }
  
  .inputsM{
    color: #152039;
    text-align:center;
    padding-top:5%;
  }
  
  .iletisimSocial{
    font-size:40px;
  }