#linkedinHeader{
  text-align: center;
  align-content: center;
  color: #4abeca;
  padding-bottom: 5%;
  font-size: 30px;
}

.linkedinContentD {
  float: right;
  font-size: 20px;
  text-align: left;
  background-color: #f1f2f2;
  border-radius: 20%;
  padding: 10%;
  color: #152039;
  font-size: 20px;
  margin-left:5%;
}

.linkedinContentD:hover {
  transition: all 0.4s ease-in-out;
  box-shadow: #4abeca 6px 2px 16px 0px, #152039 -6px -2px 16px 0px;
  cursor: pointer;
  background-size: 300% 100%;
}

.animationLinkedinD{
  float: right;
  margin-right:15%;
  margin-top:10%;
}

.madde {
  margin-left: 5%;
  padding-bottom: 2px;
}

.momDivLinkedinD {
  padding-top: 15%;
  margin-bottom:25%;
}

.row {
  width: auto;
}

.priseL {
  margin-left: 70%;
  margin-bottom: 0%;
  width: 30%;
  height: auto;
  background-color: #4abeca;
  font-size: 25px;
  color: #f1f2f2;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  border-radius: 100%;
}
