#linkedinHeader{
  text-align: center;
  align-content: center;
  color: #4abeca;
  font-size: 30px;
}


#linkedinContent{
  background-color:  #f1f2f2;
  border-radius: 20%;
  padding: 10%;
  color:#152039 ;
  font-size:20px;
}

.odinMainContainer
{
  width:98%;
  height:100vh;
  padding:1%;
  margin:0;
  flex-wrap:wrap;
}

.odinLeftSidebarContainer
{
  width:98%;
  min-width:98%;
  max-width:98%;
  height:46.25%;
  min-height:46.25%;
  padding:1%;
  margin:0;
  
}

.odinMainContentContainer
{
  width:98%;
  min-width:98%;
  max-width:98%;
  height:46.25%;
  min-height:46.25%;
  padding:1%;
  margin-top:20%;
}

.madde{
  margin-left: 10%;
  padding-bottom:2px;

}
.tik{
  color:#4abeca;
}

.animation{
    padding:10%;
}
#linkedinContent:hover{
    webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background-image: linear-gradient(to right, #f5ce62 #fa7199, #e85a19);
    box-shadow: #4abeca 6px 2px 16px 0px, #152039 -6px -2px 16px 0px;
    cursor: pointer;
    background-size: 300% 100%;
  }