#ortakHeader {
  color: #4abeca;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-bottom: 5%;
  font-size:40px;
  padding-top:4%;
}

#ogrenciHeader,#sirketHeader {
  color: #4abeca;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-bottom: 5%;
  padding-top: 10%;
  font-size:35px;
}

.cerceveDesktop {
  align-items: center;
  justify-content: center;
  font-size:30px;
  margin-top:4%;
}

.ortakContentDesktop {
  background-color: #152039;
  color: #f1f2f2;
  font-size:20px;
  border-radius: 10%;
  padding: 40px;
}

img.hover-shadow:hover {
  /* box-shadow: #ff6341 0px 10px 0px; */
  box-shadow: #4abeca 6px 2px 16px 0px, #152039 -6px -2px 16px 0px;
}
img{
  padding-bottom:5%;
}
.logoDiv {
  text-align: center;
  align-items: center;

}
.column {
  float: left;
  width: 30%;
  padding: 5px;
  text-align: center;
  align-items: center;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the four columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, .columnYeditepe {
    width: 100%;
  }
}

.logoName{
  color:#f1f2f2;
  margin-top:5%;
  margin-bottom:15%;
  border-radius:10%;
  background-color: #152039;
  height: 80px;
  width: 90%;
  padding: 10px;
  font-size:20px;
  text-align: center;
  align-items: center;
}

.logoNameYeditepe{
  color:#f1f2f2;
  margin-top:18%;
  margin-bottom:15%;
  border-radius:10%;
  background-color: #152039;
  height: 80px;
  width: 90%;
  padding: 10px;
  font-size:20px;
  text-align: center;
  align-items: center;
}

.logoNameYeditepeFinans{
  color:#f1f2f2;
  margin-top:14%;
  margin-bottom:15%;
  border-radius:10%;
  background-color: #152039;
  height: 80px;
  width: 90%;
  padding: 10px;
  font-size:20px;
  text-align: center;
  align-items: center;

}

.columnYeditepe{
  float: left;
  width: 30%;
  padding: 5px;
  padding-top:6%;
  
}
